<!DOCTYPE html>
<html>
	<head>
		<title>Cedar</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
	</head>
	<body>
		<div>
		<h1>Welcome to Cedar!</h1>
		<p>Cedar is an online course cite designed to teach you how to code. Not how to use a certain coding language, but how to code. How to think about code, how to problem solve, and how to use some of the many tools at your fingertips.</p>
		</div>
		<div>
			<p>We're still building the site - but put your email here and we'll contact you once we're up and running!</p>
			<form action="/signup" method="post">
				<input type="text" name="email"></input>
				<input type="Submit" value="sign me up!"/>
			</form>
		</div>
	</body>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script></script></script></script>
</html>
